[Desktop Entry]
Encoding=UTF-8
Name=Guest Account Manager
Name[es]= Gestor de cuenta de Invitado
Name[ca_ES@valencia]=Guest Account Manager
Name[ca]=Guest Account Manager
Name[ca_ES.UTF-8@valencia]=Guest Account Manager
TryExec=/usr/sbin/llx-guest-gui
Comment=Add or remove guest user from system
Comment[ca_ES@valencia]=Add or remove guest user from system
Comment[ca_ES.UTF-8@valencia]=Add or remove guest user from system
Comment[ca]=Add or remove guest user from system
Comment[es]=Activa o desactiva el usuario invitado del systema.
StartupNotify=true
Exec=/usr/sbin/llx-guest-gui
Icon=llx-guest
Terminal=false
Type=Application
Categories=LliureX-Administration;
