[Unit]
Description=Deletes guest files after logout
ConditionUser=59999

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/llx-guest-user-clean

[Install]
WantedBy=default.target
